{% extends 'base2.html.twig' %}
{% block body %}
    <div class="row">
       <div class="col-md-3">
            <h1>Todo edit </h1>
              <a href="{{ path('todo_index') }}">
                <button type="button"  class="btn btn-info">
                    <span class="glyphicon glyphicon-chevron-left"></span>      
                </button>
              </a>  
        </div>
        <div class="col-md-6" style="background:gray;">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit"  class="btn btn-success" />
            {{ form_end(edit_form) }}
         </div>
        <div class="col-md-3">

        </div>
    </div>
{% endblock %}
