{% extends 'base2.html.twig' %}
{% block body %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!---->
    <div class="page-header">
        <h1>Example Page Header</h1>      
    </div>
    <div class="row">
      <div class="col-md-2">
        </div>
        <div class="col-md-8" style="background:gray;">
            <h2>new Todo</h2> 
             {{form_start(form)}}
             {{form_widget(form)}}
             <center>
              <input type="submit" value="Create" class="btn btn-success" />
             </center>
            {{form_end(form)}}
        <div class="col-md-2">
        </div>
    </div>
    <!---->
{% endblock %}
